.profile__edit-button {
  display: flex;
  margin-top: 15px;
  padding: 6px;
  min-width: 24px;
  max-height: 24px;
  border: 1px solid #fff;
  background-image: url(../../../images/edit-button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: .3s;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .profile__edit-button {
    margin: 0;
    min-width: 18px;
    max-height: 18px;
    padding: 4px;
    position: relative;
    top: 8px;
  }
}

