.enter {
  width: 358px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  flex: 1;
  margin-bottom: 80px;
}

@media screen and (max-width:600px){
  .enter {
    width: calc(100% - 60px);
  }
}