.popup__heading_type_reg {
  margin: 0 36px 60px;
  text-align: center;
  max-width: 358px;
}

@media screen and (max-width:602px){
  .popup__heading_type_reg {
    margin: 0 29px 60px;
    text-align: center;
    max-width: 358px;
  }
}